/target
.vscode
.app-signing
*.swp
/home
blockchain.json
boot_sequence.bin
/file_transfer/target
/file_transfer_one_off/target
/hi_lus_lus/target
/http_bindings/target
/poast/target
/process_manager/target
/sequencer/target
/terminal/target
/apps_home/target
/http_proxy/target
/boot_sequence/target
